<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="~/Client/images/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/ico" href="~/Client/images/favicon.ico" />

    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="~/Client/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Client/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Client/css/icofont.css">
    <link rel="stylesheet" href="~/Client/css/animate.css">
    <link rel="stylesheet" href="~/Client/css/cardslider.css">
    <link rel="stylesheet" href="~/Client/css/responsiveslides.css">

    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="~/Client/css/normalize.css">
    <link rel="stylesheet" href="~/Client/css/overright.css">
    <link rel="stylesheet" href="~/Client/css/theme.css">
    <link rel="stylesheet" href="~/Client/css/style.css">
    <link rel="stylesheet" href="~/Client/css/responsive.css">
    <script src="~/Client/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body data-spy="scroll" data-target="#mainmenu" data-offset="50">
        <!-- Mainmenu-markup-end -->
    @RenderBody()
     
<footer class="black-bg text-white">
        <div class="space-60"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <a href="#"><img src="Client/images/eBiblioteka.png" width="200" height="150" alt="library"></a>
                    <div class="space-20"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida, quam vitae est Sed non eros elementum nulla sodales ullamcorper.</p>
                    <div class="space-10"></div>
                    <ul class="list-inline list-unstyled social-list">
                        <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                        <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                        <li><a href="#"><i class="icofont icofont-social-behance"></i></a></li>
                        <li><a href="#"><i class="icofont icofont-brand-linkedin"></i></a></li>
                    </ul>
                    <div class="space-10"></div>
                    <ul class="list-unstyled list-inline tip yellow">
                        <li><i class="icofont icofont-square"></i></li>
                        <li><i class="icofont icofont-square"></i></li>
                        <li><i class="icofont icofont-square"></i></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1">
                    <h4 class="text-white">Kontakto</h4>
                    <div class="space-20"></div>
                    <table class="table border-none addr-dt">
                        <tr>
                            <td><i class="icofont icofont-social-google-map"></i></td>
                            <td><address>Brigada 123, 10000, Prishtinë Kosovë</address></td>
                        </tr>
                        <tr>
                            <td><i class="icofont icofont-email"></i></td>
                            <td>stafbibloteka@gmail.com</td>
                        </tr>
                        <tr>
                            <td><i class="icofont icofont-phone"></i></td>
                            <td>+383 49 258 491</td>
                        </tr>
                        <tr>
                            <td><i class="icofont icofont-globe-alt"></i></td>
                            <td><a href="#" target="_blank">e Bibloteka</a></td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1">
                    <h4 class="text-white">Linqet e përdorura</h4>
                    <div class="space-20"></div>
                    <ul class="list-unstyled menu-tip">
                        <li><a href="books.html">Shërbimi për konsumatorë</a></li>
                        <li><a href="books.html">Tavolina e ndihmës</a></li>
                        <li><a href="books.html">Forumi</a></li>
                        <li><a href="books.html">Stafi</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="space-60"></div>
    </footer>
<!-- Vandor-JS -->
    <script src="~/Client/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/Client/js/vendor/bootstrap.min.js"></script>
    <!-- Plugin-JS -->
    <script src="~/Client/js/owl.carousel.min.js"></script>
    <script src="~/Client/js/responsiveslides.min.js"></script>
    <script src="~/Client/js/jquery.cardslider.min.js"></script>
    <script src="~/Client/js/pagination.js"></script>
    <script src="~/Client/js/scrollUp.min.js"></script>
    <script src="~/Client/js/wow.min.js"></script>
    <script src="~/Client/js/plugins.js"></script>
    <!-- Active-JS -->
    <script src="~/Client/js/main.js"></script>
</body>

</html>