@model BiblotekaWeb.Areas.admin.Models.Klienti

@{
    ViewData["Title"] = "Shto";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Shto Klientë</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index">Klientët</a></li>
                        <li class="breadcrumb-item active">Shto Klientë</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="Shto">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="form-title"><span>Informatat e Klientit</span></h5>
                                </div>
                                <div asp-validation-summary="ModelOnly"></div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Emri</label>
                                        <input asp-for="Emri" class="form-control">
                                        <span asp-validation-for="Emri" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Mbiemri</label>
                                        <input asp-for="Mbiemri" class="form-control">
                                        <span asp-validation-for="Mbiemri" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Datalindjes</label>
                                        <input asp-for="Datalindjes" type="date" class="form-control">
                                        <span asp-validation-for="Datalindjes" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Gjinia</label>
                                        <select asp-for="Gjinia" class="form-control">
                                            <option>Mashkull</option>
                                            <option>Femer</option>
                                        </select>
                                        <span asp-validation-for="Gjinia" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>NrPersonal</label>
                                        <input asp-for="NrPersonal" class="form-control">
                                        <span asp-validation-for="NrPersonal" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Adresa</label>
                                        <input asp-for="Adresa" class="form-control">
                                        <span asp-validation-for="Adresa" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Shteti</label>
                                        <select id="countrylist" asp-for="Shteti" class="form-control">
                                            <option>Selekto Shtetin</option>
                                            <option name="kosove" value="Kosovë">Kosovë</option>
                                            <option name="shqiperi" value="Shqipëri">Shqipëri</option>
                                            <option name="maqedoni" value="Maqedoni">Maqedoni</option>
                                            <option name="malizi" value="Mali i Zi">Mali i Zi</option>
                                        </select>
                                        <span asp-validation-for="Shteti" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Qyteti</label>
                                        <select id="citiesList" asp-for="Qyteti" class="form-control">
                                            <option>Selekto Qytetin</option> 
                                        </select>
                                        <span asp-validation-for="Qyteti" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Kodi Postal</label>
                                        <input asp-for="KodiPostal" class="form-control">
                                        <span asp-validation-for="KodiPostal" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Numri Kontaktues</label>
                                        <input asp-for="NrKontaktues" class="form-control">
                                        <span asp-validation-for="NrKontaktues" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Emaili</label>
                                        <input asp-for="Emaili" class="form-control">
                                        <span asp-validation-for="Emaili" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Shto</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#countrylist').change(function () {
                $("#citiesList").empty();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetCities")',
                    dataType: "json",
                    data: { country: $("#countrylist").val()},
                    success: function (city){
                        
                        for (var i = 0; i < city.cities.length; i++){
                           $("#citiesList").append('<option value="'+city.cities[i]+'">' + city.cities[i] + '</option>');  
                        }
                    }
                })       
            })
        })
    </script>
}
