@model IEnumerable<BiblotekaWeb.Areas.admin.Models.Huazimi>

@{
    ViewData["Title"] = "Huazimet";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Huazimet</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Ballina</a></li>
                        <li class="breadcrumb-item active">Huazimet</li>
                    </ul>
                </div>
                <div class="col-auto text-right float-right ml-auto">
                    <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Shkarko</a>
                    <a asp-action="Huazo" asp-controller="Huazimet" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="dataTable" class="table table-hover table-center mb-0 ">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>KlientiId</th>
                                        <th>LibriId</th>
                                        <th>NumriKopjeve</th>
                                        <th>DataHuazimit</th>
                                        <th>DataKthimit</th>
                                        <th>Statusi</th>
                                        <th>Pershkrimi</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <h2>
                                                <a>Filan Fisteku</a>
                                            </h2>
                                        </td>
                                        <td>Libri Pare</td>
                                        <td>1</td>
                                        <td>15-08-2001</td>
                                        <td>15-08-2001</td>
                                        <td>
                                            <span class="badge badge-success">Aktiv</span>
                                        </td>
                                        <td>testest</td>
                                        <td class="text-right">
                                            <div class="actions">
                                                <a href="edit-department.html" class="btn btn-sm bg-success-light mr-2">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                                <a href="#" class="btn btn-sm bg-danger-light">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>Copyright © 2021 Menaxhimi Biblotekës.</p>
    </footer>
</div>
