@model BiblotekaWeb.Areas.admin.ViewModels.HuazimiGjobaViewModel

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
    var noOfDays = Convert.ToInt32(ViewBag.NoOfDays);
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Kthe Librin</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index">Huazimet</a></li>
                        <li class="breadcrumb-item active">Kthe Libër</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="Kthe">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="form-title"><span>Informatat e Huazimit</span></h5>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Klienti</label>
                                        <input value="@string.Concat(Model.Huazimi.Klienti.Emri," ",Model.Huazimi.Klienti.Mbiemri)" readonly class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Libri</label>
                                        <input value="@Model.Huazimi.Libri.Titulli"  readonly class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Sasia</label>
                                        <input value="@Model.Huazimi.NumriKopjeve" min="0" readonly class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Data Huazimit</label>
                                        <input asp-for="Huazimi.DataHuazimi" readonly type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Data Kthimit</label>
                                        <input asp-for="Huazimi.DataKthimit" readonly type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Pershkrimi</label>
                                        <input asp-for="Huazimi.Pershkrimi" class="form-control">
                                        <span asp-validation-for="Huazimi.Pershkrimi"></span>
                                    </div>
                                </div>
                                @if (noOfDays > 0)
                                {
                                    <div class="col-12 mt-5">
                                        <h5 class="form-title"><span>Informatat e Gjobës</span></h5>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label>Shuma</label>
                                            <input type="number" min="0" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label>Ditët</label>
                                            <input value="@noOfDays" readonly class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label>Totali</label>
                                            <input type="number" value="0" readonly class="form-control">
                                        </div>
                                    </div>
                                }
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Kthe</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
