@model BiblotekaWeb.Areas.admin.Models.Huazimi

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
    var noOfDays = Convert.ToInt32(ViewBag.NoOfDays);
}

<div id="app" class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Kthe Librin</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index">Huazimet</a></li>
                        <li class="breadcrumb-item active">Kthe Libër</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="Kthe" asp-route-shuma="shuma">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="form-title"><span>Informatat e Huazimit</span></h5>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Klienti</label>
                                        <input value="@string.Concat(Model.Klienti.Emri," ",Model.Klienti.Mbiemri)" readonly class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Libri</label>
                                        <input value="@Model.Libri.Titulli"  readonly class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Sasia</label>
                                        <input value="@Model.NumriKopjeve" min="0" readonly class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Data Huazimit</label>
                                        <input asp-for="DataHuazimi" readonly type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Data Kthimit</label>
                                        <input asp-for="DataKthimit" readonly type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Pershkrimi</label>
                                        <input asp-for="Pershkrimi" class="form-control">
                                        <span asp-validation-for="Pershkrimi"></span>
                                    </div>
                                </div>
                                @if (noOfDays > 0)
                                {
                                    <div class="col-12 mt-5">
                                        <h5 class="form-title"><span>Informatat e Gjobës</span></h5>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label>Shuma</label>
                                            <input id="shuma" oninput="Cal()" type="number" min="0" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label>Ditët</label>
                                            <input id="ditet" value="@noOfDays" readonly class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label>Totali</label>
                                            <input id="totali" value="0" type="number" name="shuma" readonly class="form-control">
                                        </div>
                                    </div>
                                }
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Kthe</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
        function Cal() {
            var shuma = $('#shuma').val();
            var ditet = $('#ditet').val();
            var totali = shuma * ditet;
            $('#totali').attr('value', totali);
        }
</script>
